<!-- TOP NAVIGATION BAR GLOBAL -->
<nav class="main-nav">
  <div class="container main-nav__container">
    <div class="main-nav__brand">
      <i class="ri-drop-fill"></i>
      <span>Junta La Jones</span>
    </div>
    <ul class="main-nav__links">
      <li><a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Inicio</a></li>
      <li><a routerLink="/eventos" routerLinkActive="active">Eventos y Actas</a></li>
      <li *ngIf="authService.isLoggedIn()">
        <a *ngIf="authService.getUser()?.rol === 'ADMIN' || authService.getUser()?.rol === 'SECRETARIO'" routerLink="/admin" routerLinkActive="active">Panel de Control</a>
        <a *ngIf="authService.getUser()?.rol === 'USUARIO'" routerLink="/mi-cuenta" routerLinkActive="active">Mi cuenta</a>
      </li>
    </ul>
    <div class="main-nav__actions">
      <a *ngIf="!authService.isLoggedIn()" routerLink="/login" class="btn btn--primary btn--sm"><i class="ri-login-circle-line"></i> Iniciar Sesión</a>
      <a *ngIf="authService.isLoggedIn()" (click)="cerrarSesion()" style="cursor: pointer;" class="btn btn--primary btn--sm"><i class="ri-logout-circle-line"></i> Cerrar Sesión</a>
    </div>
  </div>
</nav>

<!-- CONTENIDO DINÁMICO DE RUTAS -->
<div class="app-body">
  <router-outlet></router-outlet>
</div>

<!-- PIE DE PÁGINA GLOBAL -->
<footer *ngIf="!esRutaAdmin" class="footer-global">
  <div class="footer-container">
    <div class="footer-brand">
      <h4><i class="ri-drop-fill text-primary"></i> Junta de Agua y Riego "La Jones"</h4>
      <p class="caption">Garantizando la administración eficiente, transparente y equitativa del agua de riego para nuestros comuneros en Patate.</p>
    </div>
    
    <div class="footer-links">
      <div>
        <strong>Módulos</strong>
        <ul>
          <li><a routerLink="/">Inicio & Convocatorias</a></li>
          <li><a routerLink="/consulta">Consulta de Multas / Deudas</a></li>
          <li><a routerLink="/admin">Panel de Directiva</a></li>
        </ul>
      </div>
      <div>
        <strong>Ubicación</strong>
        <p class="caption"><i class="ri-map-pin-line"></i> Sector Las Jones, Cantón Patate, Provincia de Tungurahua, Ecuador.</p>
      </div>
    </div>
  </div>
  <div class="footer-bottom">
    <small>© 2026 Junta de Agua y Riego La Jones — Todos los derechos reservados.</small>
  </div>
</footer>
